.card-profile-img {
    max-width: 6rem;
    /*margin-top: -5rem;*/
    margin-bottom: 1rem;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*center absolute loader start*/

.loader-tenk {
    position: fixed;
    z-index: 99999;
    /*height: 2em;
    width: 2em;*/
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loader-tenk:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }

/*center absolute loader end*/